<link rel="stylesheet" href="../chatroom.css">
<div class="chatroom-container">
    <div class="chatroom-header">
        <button id="logoutBtn" class="logout-btn">Logout</button> 
        <button class="view-users-btn" onclick="alert('View Users functionality coming soon!')">View all Users</button>
    </div>
    <div class="chatroom-body">
        <div class="messages" id="chatMessages">
            <!-- Messages will be dynamically added here -->
            <p class="welcome-message">Welcome to the Chatroom! Feel free to ask anything.</p>
        </div>
        <div class="message-input">
            <input type="text" id="messageInput" placeholder="Type a message...">
            <button id="sendMsgBtn">Send</button>
        </div>
    </div>
</div>
