{{!-- 
COMP 2406 Final Term Project
By Ibraheem Refai
101259968
April 10, 2024
--}}

<link rel="stylesheet" href="../chatroom.css">
<div class="chatroom-container">
    <div class="chatroom-header">
        <button id="logoutBtn" class="logout-btn">Logout</button> 
        <button id="viewUsersBtn" class="view-users-btn">View all Users</button>
    </div>
    <div class="chatroom-body">
        <div id="chatMessages" class="messages">
            <p class="welcome-message">Welcome to the Chatroom! I am your personal assistant specialzed just for your purposes! Ask me anything.</p>
        </div>
        <div class="message-input">
            <input type="text" id="messageInput" placeholder="Type a message...">
            <button id="sendMsgBtn">Send</button>
        </div>
    </div>
</div>
<script src="/chatClient.js"></script>
<script src="/eventListeners.js"></script>
