{{!-- 
COMP 2406 Final Term Project
By Ibraheem Refai
101259968
April 10, 2024
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        {{{body}}} <!-- Where the content from the other Handlebars templates will be injected -->
    </div>
    <!-- Common scripts -->
    <script src="/chatClient.js"></script>
    <script src="/buttonHandlers.js"></script>
    <script src="/eventListeners.js"></script>
</body>
</html>
