/* Sets default margin and padding for the whole document and sets a default font */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
}

/* Styles for the body element, setting a background image, ensuring it covers the entire background, centers correctly, and doesn't scroll with the page */
body {
    background-image: url(./images/background2.jpg); /* Background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

/* Styles for the main container of the login form, including background color, padding, rounded corners, and a subtle shadow for depth */
.login-container {
    background-color: white;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 5px 15px black;
    transition: all 0.3s ease-in-out;
}

/* Heading within the login form*/
.login-form h2 {
    color: #333;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

/* Base styles for form groups */
.form-group {
    position: relative;
    margin-bottom: 25px;
}


/* Styles for labels within form groups, positioning them absolutely relative to their parent form-group */
.form-group label {
    position: absolute;
    top: -17px;
    left: 5px;
    background-color: white;
    padding: 0 5px;
    font-size: 14px;
    color: #007bff;
}

/* Input field styles, including width, padding, border, and transitions for the focus state */
.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}


/* Focus state for input fields, removing the outline and changing border color */
.form-group input:focus {
    outline: none;
    border-color: #007bff;
}


/* Styles for the button */
button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}


/* Hover state for the button, changing the background color */
button:hover {
    background-color: #0056b3;
}

/* Adding a little animation to the container */
.login-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.welcome-message h1 {
    text-align: center;
    color: #007bff; 
    margin-bottom: 20px; 
    font-size: 28px;
    font-weight: normal;
}

.forgot-password {
    text-align: center;
    margin-top: 20px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

/* Adds underline on forgot password hover */
.forgot-password a:hover {
    text-decoration: underline;
}